= render "items/header"
.mypage-main-containe
  %main.mypage-container.clearfix
  
    = render 'users/side-bar'

    .information-container
      .content
        %section.information-chapter-container
          %h2.information-chapter-head 本人情報の登録
          %form.information-inner
            %div
              %p
                お客さまの本人情報をご登録ください。
                %br/
                登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
              %p.text-right
                = link_to "#" ,class:"text-right" ,target:"_blank" do
                  本人確認書類のアップロードについて
                  %i.fas.fa-angle-right
            .form-group
              %label お名前
              %p 
                
                -# 下記の記載で表示させる場合はコントローラーで定義が必要
                = @profiles.last_name
                = @profiles.first_name
                
                
                -# 上記と同じ意味
                -# = current_user.profile.last_name
                -# = current_user.profile.first_name
            .form-group
              %label お名前カナ
              %p
                = @profiles.last_name_kana
                = @profiles.first_name_kana
            .form-group
              %label{for:"birthday"} 生年月日
              %p 
                = "#{@profiles.birth_year}/"
                = "#{@profiles.birth_month}/"
                = @profiles.birth_day
            .form-group
              %label{for:"zip_code"} 郵便番号
              %span.form-arbitrary 任意
              %input.input-default{name:"zip_code", placeholder:"例)1234567", type: "text", value: ""}/
            .form-group
              %label{for: "prefecture"} 都道府県
              %span.form-arbitrary 任意
              .select-wrap
                %i.material-icons arrow-down
                %select.select-default{name: "prefecture"}
                  %option --
                  %option 北海道
                  %option 青森県
                  %option 岩手県
                  %option 宮城県
                  %option 秋田県
                  %option 山形県
                  %option 福島県
                  %option 東京都
                  %option 神奈川県
                  %option 埼玉県
                  %option 千葉県
                  %option 茨城県
                  %option 栃木県
                  %option 群馬県
                  %option 山梨県
                  %option 新潟県
                  %option 長野県
                  %option 富山県
                  %option 石川県
                  %option 福井県
                  %option 愛知県
                  %option 岐阜県
                  %option 静岡県
                  %option 三重県
                  %option 大阪府
                  %option 兵庫県
                  %option 京都府
                  %option 滋賀県
                  %option 奈良県
                  %option 和歌山県
                  %option 鳥取県
                  %option 島根県
                  %option 岡山県
                  %option 広島県
                  %option 山口県
                  %option 徳島県
                  %option 香川県
                  %option 愛媛県
                  %option 高知県
                  %option 福岡県
                  %option 佐賀県
                  %option 長崎県
                  %option 熊本県
                  %option 大分県
                  %option 宮崎県
                  %option 鹿児島県
                  %option 沖縄県
            .form-group
              %label{for:"city"} 市区町村
              %span.form-arbitrary 任意
              %input.input-default{name:"city", placeholder: "横浜市緑区", type: "text", value: ""}/
            .form-group
              %label{for:"address1_label"} 番地
              %span.form-arbitrary 任意
              %input.input-default{name:"address1", placeholder:"例) 青山1-1-1", type:"text", value: ""}/
            .form-group
              %label{for:"address2_label"} 建物名
              %span.form-arbitrary 任意
              %input.input-default{name: "address2", placeholder: "例) 柳ビル103", type: "text", value: ""}/
            %button.btn-default.btn-red{:type => "submit"} 登録する
            .form-group.text-right
              %p
                = link_to "#" ,class:"text-right", target:"_blank" do
                  本人情報の登録について
                  %i.fas.fa-angle-right
            %input{name:"information-registration", type:"hidden"}/




= render "items/footer"    