= render "items/header"
- breadcrumb :users
= render "layouts/breadcrumbs"

.mypage-main-containe
  %main.mypage-container.clearfix
    = render 'users/mypage'
    = render 'users/side-bar'

= render "items/footer"