= render "signup/sign_up_header"
%main.purchase
  %section.purchase-container
    %h2.purchase-container-title 購入内容の確認
    %section.purchase-content
      .purchase-content-box
        .item-box
          %h3.item-image
            = image_tag "https://static.mercdn.net/thumb/photos/m95899067551_1.jpg?1575441289", alt: "購入アイテムの写真", height: "80px", width: "80px"
          .item-detail
            %p.item-detail-name 
              = @item.name
              
            %p.item-price
              %span ¥1,200
              %span.item-price-tax (税込)送料込み
    %section.purchase-content
      .purchase-content-box
        %form.item-detail-form{action: "#"}
          %ul.price-table
            %li.price-table-row
              .price-table-cell.text-price 支払い金額
              .price-table-cell.price-cell
                %span ¥1,200
          %ul.buy-point
            %li.buy-point-cell
              .checkbox-default.use-point
                -# %input{disabled: "disabled", type: "checkbox"}/
                %i.fas.fa-square
                %label.point-text ポイントを使用(所持ポイント:P0)
          %section.purchase-content
            .purchase-content-inner
              %div
                %h3.l-left 支払い方法
                = link_to "#" ,class:"l-right" do
                  %span.change 変更する
              %p.user-info-text
                クレジットカード
                %br>/
                ************0000
                %br>/
                有効期限 01/20
              .user-card-logo
                = image_tag "https://i.gyazo.com/7dd1a6befcc1beb95214e848f825772b.png", alt: "visa", height: "15", width: "49"
          %section.purchase-content-shippings
            .purchase-content-shipping
              %div
                %h3.l-left 配送先
                = link_to "#" , class:"l-right" do
                  %span.change-second 変更する
            %address.user-info-text
              %p
                〒123-4567
                %br>/
                東京都港区
                %br>/
                沢尻エリカ
          %section.purchase-content-submit

          %script{type: "text/javascript", src: "https://checkout.pay.jp", class:"payjp-button", "data-text": "購入する", "data-key": "pk_test_1f7c9ff5d0aaaf3f1444a5dd", style: "background-color: #ea352d;"}

= render "signup/sign_up_footer"