%footer
  #Exhibit
    = link_to "#" do
      .red_circle
        .Exhibit 出品
        %div
          %i.fas.fa-camera.fa-4x 
  .AD
    %aside
      %div
        .AD_message1 スマホでかんたんフリマアプリ
        .AD_message2 今すぐ無料ダウンロード！
        %div
          = image_tag "", id: "#freemarket",alt: "フリマアイコン"
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8" do
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", class:"apple", alt: ""
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja" do
            =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", class: "google", alt: ""
      %figure
        =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png", id:"smartphone", alt: ""
  .footer
    %nav.footer_navi
      .description
        %h2 メルカリについて
        %ul
          %li.description_list
            = link_to "#" do
              会社概要(運営会社)
          %li.description_list
            = link_to "#" do
              採用情報
          %li.description_list
            = link_to "#" do
              プレスリリース
          %li.description_list
            = link_to "#" do
              公式ブログ
          %li.description_list
            = link_to "#" do
              メルカリロゴ利用ガイドライン
          = link_to "#" do
            %i.fab.fa-twitter.fa-2x
          = link_to "#" do
            %i.fab.fa-facebook-square.fa-2x
      .description
        %h2 ヘルプ＆ガイド
        %ul
          %li.description_list
            = link_to "#" do
              メルカリガイド
          %li.description_list
            = link_to "#" do
              らくらくメルカリ便
          %li.description_list
            = link_to "#" do
              ゆうゆうメルカリ便
          %li.description_list
            = link_to "#" do
              大型メルカリ便
          %li.description_list
            = link_to "#" do
              車体取引ガイド
          %li.description_list
            = link_to "#" do
              メルカリあんしん・あんぜん宣言！
          %li.description_list
            = link_to "#" do
              偽ブランド品撲滅への取り組み
          %li.description_list
            = link_to "#" do
              メルカリボックス
      .description
        %h2 プライバシーと利用規約
        %div
          %ul
            %li.description_list
              = link_to "#" do
                プライバシーポリシー
            %li.description_list
              = link_to "#" do
                メルカリ利用規約
            %li.description_list
              = link_to "#" do
                あんしんスマホサポート制度に関する
            %li.description_list
              = link_to "#" do
                コンプライアンスポリシー
        .description
          %ul
            %li.description_list
              = link_to "#" do
                個人データの安全管理に係る基本方針
            %li.description_list
              = link_to "#" do
                特定商取引に関する表記
            %li.description_list
              = link_to "#" do
                資金決済法に基づく表示
            %li.description_list
              = link_to "#" do
                法令遵守と犯罪抑制のために
      .description
        %h2 国
        %ul
          %li.description_list
            = link_to "#" do
              日本
          %li.description_list
            = link_to "#" do
              United States
    .footer_bottom
      = link_to "#" do
        =image_tag "", id: "footer_icon", alt: ""
      %span.copy_right © FreeMarket Int.