%header
  #headerbg
    .header-top
      = link_to root_path do
        = image_tag "fmarket_logo_red.svg", id: "freemarket_string", alt: "freemarket"
      %form{action: "#"}
        %div.search-field
          %input.search_form{placeholder: "何をお探しですか？", type: "text"}/
          %button.search_btn
            = link_to "#" do
              %i.fas.fa-search
    %nav.top_navi
      %ul.refarence
        %li.search_category
          %i.fas.fa-list-ul
          = link_to "#" do
            カテゴリーから探す
        %li.search_brand
          %i.fas.fa-tags
          = link_to "#" do
            ブランドから探す
      - if user_signed_in?
        %ul.top_lists
          %li.top_list
            %i.far.fa-heart
            = link_to "#" do
              いいね！一覧
          %li.top_list
            %i.far.fa-bell
            = link_to "#" do
              お知らせ
          %li.top_list
            %i.fas.fa-check
            = link_to "#" do
              やることリスト
          %li.top_list
            %i.fas.fa-user-circle
            = link_to destroy_user_session_path, method: :delete do
              マイページ
      - else
        %ul.top_lists
          %li.top_list
            = link_to "新規登録", signup_index_path, class: "top-list-registration"
          %li.top_list
            = link_to "ログイン", new_user_session_path, class: "top-list-session"
    - breadcrumb :users
    = render "layouts/breadcrumbs"