.nav
  %h2.popularity-category 人気のブランド
  .categories
    = link_to "#chanel" ,class:"women button" do
      シャネル
    = link_to "#louisvuitton" ,class:"men button" do
      ルイヴィトン
    = link_to "#supreme" ,class:"appliance button" do
      シュプリーム
    = link_to "#nike" ,class:"toy button" do
      ナイキ
.items-holders
  #chanel.item-title
    %h3.item-title-chanel シャネル新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
        
  #louisvuitton.item-title
    %h3.item-title-louisvuitton ルイヴィトン新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
        
  #supreme.item-title
    %h3.item-title-supreme シュプリーム新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
       
  #nike.item-title
    %h3.item-title-nike ナイキ新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
        