= render "items/header"
- breadcrumb :root
= breadcrumbs pretext: "トップページ",separator: " &rsaquo; ", class: "breadcrumbs-list"
.main-top 
  .advertisements 
    .advertisement 
      %ul.advertisement-box
        %li
          = image_tag "pictweet.jpg", class: "scroll-advertisement one"
        %li
          = image_tag "sns_01.jpg", class: "scroll-advertisement second"
        %li
          = image_tag "pictweet.jpg", class: "scroll-advertisement third"
          .icon-icon-two
            = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8",class:"apple apple-one" do
              =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg",class:"apple"
            = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja",class: "google google-one" do
              =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" ,class:"google"
  .nav
    %h2.popularity-category 人気のカテゴリー
    .categories
      = link_to "#women" ,class:"women button" do
        レディース
      = link_to "#men" ,class:"men button" do
        メンズ
      = link_to "#appliance" ,class:"appliance button" do
        家電・スマホ・カメラ
      = link_to "#toy" ,class:"toy button" do
        おもちゃ・ホビー・グッズ
  .items-holders
    #women.item-title
      %h3.item-title-women レディース新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description


                        
         
    #men.item-title
      %h3.item-title-men メンズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description


          
    #appliance.item-title
      %h3.item-title-appliance 家電・スマホ・カメラ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
          


    #toy.item-title
      %h3.item-title-toy おもちゃ・ホビー・グッズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to item_path(item.id) ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
          
  
  = render partial: "navs"
= render "items/footer"