= render "items/header"
.main-top 
  .advertisements 
    .advertisement 
      %ul.advertisement-box
        %li
          = image_tag "pictweet.jpg", class: "scroll-advertisement"
        -# %li
        -#   = image_tag "pictweet.jpg", class: "scroll-advertisement"
        -# %li
        -#   = image_tag "pictweet.jpg", class: "scroll-advertisement"
  .nav
    %h2.popularity-category 人気のカテゴリー
    .categories
      = link_to "#women" ,class:"women button" do
        レディース
      = link_to "#men" ,class:"men button" do
        メンズ
      = link_to "#appliance" ,class:"appliance button" do
        家電・スマホ・カメラ
      = link_to "#toy" ,class:"toy button" do
        おもちゃ・ホビー・グッズ
  .items-holders
    #women.item-title
      %h3.item-title-women レディース新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to "/items/#{item.id}" ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description


                        
         
    #men.item-title
      %h3.item-title-men メンズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to "/items/#{item.id}" ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description


          
    #appliance.item-title
      %h3.item-title-appliance 家電・スマホ・カメラ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to "/items/#{item.id}" ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
          


    #toy.item-title
      %h3.item-title-toy おもちゃ・ホビー・グッズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
        - @items.each do |item|
          %li.image
            .product
              = link_to "/items/#{item.id}" ,class:"product-image" do
                .product-card
                  %span.product-price
                    = "¥#{item.price}"
                  = image_tag "#{item.image}", class:"product-image-size", alt: "商品写真"
                  .product-description
                    %span
                      = item.description
          
  
  = render partial: "navs"
= render "items/footer"