= render "items/header"
.item-detail
  .item-detail-contents
    %h1.item-detail-name
      = @item.name
    .item-detail-main.clearfix
      .item-detail-photo
        = image_tag "#{@item.image}", alt: '商品紹介', class: 'photo-main'
        -# .item-detail-photo-sub
        -#   = image_tag "#{@item.image}", alt: '商品紹介', class: 'photo-sub'
        -#   = image_tag "#{@item.image}", alt: '商品紹介', class: 'photo-sub'
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@item.user.nickname}", class: "item-detail-username"
              %div
                %span.item-detail-evaluation
                  = icon('fas', 'laugh', class: 'laugh')
                  10
                %span.item-detail-evaluation
                  = icon('fas', 'meh', class: 'meh')
                  10
                %span.item-detail-evaluation
                  = icon('fas', 'frown', class: 'frown')
                  10
          %tr
            %th カテゴリー
            %td
              = link_to "#{@item.category1}", class:"item-detail-category" 
              = link_to "#{@item.category2}", class:"item-detail-category" do
                = icon('fas', 'angle-right')
                = @item.category2
              = link_to "#{@item.category3}", class: "item-detail-category" do
                = icon('fas', 'angle-right')
                = @item.category3
          %tr
            %th ブランド
            %td
              - unless @item.brand.blank?
                = @item.brand
          %tr
            %th 商品のサイズ
            %td
              - unless @item.size.blank?
                = @item.size 
          %tr
            %th 商品の状態
            %td
              = @item.status
          %tr
            %th 配送料の負担
            %td
              = @item.derivery_fee
          %tr
            %th 配送の方法
            %td
              = @item.derivery_method
          %tr
            %th 配送元地域
            %td
              = link_to "#{@item.prefecture_id}" 
          %tr
            %th 発送日の目安
            %td
              = @item.derivery_estimated

    .item-detail-price-box
      %span.item-detail-price
        = "¥#{price}"
      %span.item-detail-tax （税込）
      %span.item-detail-postage 送料込み
    - if user_signed_in? && current_user.id == @item.user_id
      = link_to "編集", "/items/#{@item.id}/edit",method: :get, class:"item-buy-btn"
      = link_to "削除", "/items/#{@item.id}",method: :delete, class:"item-buy-btn"
    - elsif user_signed_in?
      = link_to "購入画面に進む", item_purchase_path(@item.id), class: "item-buy-btn"
    - else
      = link_to "購入画面に進む", new_user_session_path, class: "item-buy-btn", onClick: "window.alert('ログインして下さい')"
    .item-detail-description
      %p.item-detail-description__sentence
        = @item.description
    .item-detail-button.clearfix
      .item-detail-button-left
        %button.item-detail-button-left__like.item-button
          = icon('far', 'heart', class: 'heart')
          %span いいね!
          %span 0
        = link_to "#", class: "item-detail-button-left__report item-button" do
          = icon('far', 'flag')
          %span 不適切な商品の報告
      .item-detail-button-right
        = link_to '#' do
          = icon('fas', 'lock')
          あんしん・あんぜんへの取り組み
  .item-detail-message
    .message-comments
      %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      = text_area_tag class: 'form-comment'
      = submit_tag 'コメントする', class: 'form-submit'
  %ul.item-links.clearfix
    %li.item-link-pre
      = link_to "#", class: "item-link" do
        = icon('fas', 'angle-left', class: 'angle')
        %span 前のページ
    %li.item-link-next
      = link_to "#", class: "item-link" do
        %span 次のページ
        = icon('fas', 'angle-right', class: 'angle')
  .social-media-links
    %ul.social-media-boxes
      %li.social-media-box.facebook
        = link_to '#', class: 'social-icon' do
          %i.fab.fa-facebook-square.fa-3x
      %li.social-media-box.twitter
        = link_to '#', class: 'social-icon' do
          %i.fab.fa-twitter-square.fa-3x
      %li.social-media-box.pinterest
        = link_to '#', class: 'social-icon' do
          %i.fab.fa-pinterest-square.fa-3x
  .item-image-box
    .user-item-box.clearfix
      %h2.item-box-head
        = link_to "#", class: 'item-box-head' do
          = @item.user.nickname
      - @items.each do |item|
        .item-box
          = link_to '#', class: 'item-box-link' do
            = image_tag "#{item.image}", alt: '商品説明', class: 'item-box-photo'
            .item-box-body
              %h3.item-box-name
                = item.name
              .item-box-price
                ¥
                = item.price.to_s(:delimited, delimiter: ',')


      -# .item-box
      -#   = link_to '#', class: 'item-box-link' do
      -#     = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
      -#     .item-box-body
      -#       %h3.item-box-name LIDNM ハイストレッチスキニー
      -#       .item-box-price ¥3,500
      -# .item-box
      -#   = link_to '#', class: 'item-box-link' do
      -#     = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
      -#     .item-box-body
      -#       %h3.item-box-name LIDNM ハイストレッチスキニー
      -#       .item-box-price ¥3,500
      -# .item-box
      -#   = link_to '#', class: 'item-box-link' do
      -#     = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
      -#     .item-box-body
      -#       %h3.item-box-name LIDNM ハイストレッチスキニー
      -#       .item-box-price ¥3,500
    -# .brand-item-box.clearfix
    -#   %h2.item-box-head
    -#     = link_to "#", class: 'item-box-head' do
    -#       リドムのデニム/ジーンズ その他の出品
    -#   .item-box
    -#     = link_to '#', class: 'item-box-link' do
    -#       = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
    -#       .item-box-body
    -#         %h3.item-box-name LIDNM ハイストレッチスキニー
    -#         .item-box-price ¥3,500
    -#   .item-box
    -#     = link_to '#', class: 'item-box-link' do
    -#       = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
    -#       .item-box-body
    -#         %h3.item-box-name LIDNM ハイストレッチスキニー
    -#         .item-box-price ¥3,500
    -#   .item-box
    -#     = link_to '#', class: 'item-box-link' do
    -#       = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
    -#       .item-box-body
    -#         %h3.item-box-name LIDNM ハイストレッチスキニー
    -#         .item-box-price ¥3,500
    -#   .item-box
    -#     = link_to '#', class: 'item-box-link' do
    -#       = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
    -#       .item-box-body
    -#         %h3.item-box-name LIDNM ハイストレッチスキニー
    -#         .item-box-price ¥3,500
    -#   .item-box
    -#     = link_to '#', class: 'item-box-link' do
    -#       = image_tag '138475205.jpg', alt: '商品説明', class: 'item-box-photo'
    -#       .item-box-body
    -#         %h3.item-box-name LIDNM ハイストレッチスキニー
    -#         .item-box-price ¥3,500
= render "items/footer"            