.nav
  %h2.popularity-category 人気のブランド
  .categories
    = link_to "#chanel" ,class:"women button" do
      シャネル
    = link_to "#louisvuitton" ,class:"men button" do
      ルイヴィトン
    = link_to "#supreme" ,class:"appliance button" do
      シュプリーム
    = link_to "#toy" ,class:"toy button" do
      ナイキ
.items-holders
  #chanel.item-title
    %h3.item-title-chanel シャネル新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
  #louisvuitton.item-title
    %h3.item-title-louisvuitton ルイヴィトン新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
  #supreme.item-title
    %h3.item-title-supreme シュプリーム新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
  #nike.item-title
    %h3.item-title-nike ナイキ新着アイテム
    = link_to "#" ,class:"see-more" do
      もっと見る＞
  .holder
    .items-images
      %ul.images
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
        %li.image
          .product
            = link_to "#" ,class:"product-image" do
              .product-card
                %span.product-price $ 1000
                %image_tag.product-image-size{alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"}/
                .product-description
                  %span ワンピース
