.main-top 
  .advertisemens 
    .advertisement 
      = link_to "#" ,class:"advertisement-box"
        =image_tag class:"scroll-advertisement",src: "https://i.gyazo.com/9192b15b3c92a30aff8772d5b0b12d43.png"
  .nav
    %h2.popularity-category 人気のカテゴリー
    .categories
      = link_to "#women" ,class:"women button" do
        レディース
      = link_to "#men" ,class:"men button" do
        メンズ
      = link_to "#appliance" ,class:"appliance button" do
        家電・スマホ・カメラ
      = link_to "#toy" ,class:"toy button" do
        おもちゃ・ホビー・グッズ
  .items-holders
    #women.item-title
      %h3.item-title-women レディース新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
    #men.item-title
      %h3.item-title-men メンズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
    #appliance.item-title
      %h3.item-title-appliance 家電・スマホ・カメラ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
    #toy.item-title
      %h3.item-title-toy おもちゃ・ホビー・グッズ新着アイテム
      = link_to "#" ,class:"see-more" do
        もっと見る＞
    .holder
      .items-images
        %ul.images
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
          %li.image
            .product
              = link_to "#" ,class:"product-image" do
                .product-card
                  %span.product-price $ 1000
                  = image_tag class:"product-image-size", alt: "商品写真", src: "https://i.gyazo.com/19bbdd578edb5173a80a3c12b088c0ec.png"
                  .product-description
                    %span ワンピース
  .nav
    = render partial: "navs"