!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketApp
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    #headerbg
      .header-top
        %a{:href => "#"}
          %img#freemarket_string{:alt => "freemarket", :src => "SVG/fmarket_logo_red.svg"}/
        %form{:action => "#"}
          %input.search_form{:placeholder => "何をお探しですか？", :type => "text"}/
          %button.search_btn
            %i.fas.fa-search
            %a{:href => "#"}
      %nav.top_navi
        %ul.refarence
          %li.search_category
            %i.fas.fa-list-ul
            %a{:href => "#"} カテゴリーから探す
          %li.search_brand
            %i.fas.fa-tags
            %a{:href => "#"} ブランドから探す
        %ul.top_lists
          %li.top_list
            %i.far.fa-heart
            %a{:href => "#"} いいね！一覧
          %li.top_list
            %i.far.fa-bell
            %a{:href => "#"} お知らせ
          %li.top_list
            %i.fas.fa-check
            %a{:href => "#"} やることリスト
          %li.top_list
            %i.fas.fa-user-circle
            %a{:href => "#"} マイページ
    = yield
  %footer
  #Exhibit
    %a{:href => "#"}
      .red_circle
        .Exhibit 出品
        %div
          %i.fas.fa-camera.fa-4x
  .AD
    %aside
      %div
        .AD_message1 スマホでかんたんフリマアプリ
        .AD_message2 今すぐ無料ダウンロード！
        %div
          %img#freemarket{:alt => "フリマアイコン", :src => "SVG/logo_red.svg"}/
          %a{:href => "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8"}
            %img.apple{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}/
          %a{:href => "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"}
            %img.google{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}/
      %figure
        %img#smartphone{:alt => "", :src => "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/
  .footer
    %nav.footer_navi
      .description
        %h2 メルカリについて
        %ul
          %li.description_list
            %a{:href => "#"} 会社概要(運営会社)
          %li.description_list
            %a{:href => "#"} 採用情報
          %li.description_list
            %a{:href => "#"} プレスリリース
          %li.description_list
            %a{:href => "#"} 公式ブログ
          %li.description_list
            %a{:href => "#"} メルカリロゴ利用ガイドライン
          %a{:href => "#"}
            %i.fab.fa-twitter.fa-2x
          %a{:href => "#"}
            %i.fab.fa-facebook-square.fa-2x
      .description
        %h2 ヘルプ＆ガイド
        %ul
          %li.description_list
            %a{:href => "#"} メルカリガイド
          %li.description_list
            %a{:href => "#"} らくらくメルカリ便
          %li.description_list
            %a{:href => "#"} ゆうゆうメルカリ便
          %li.description_list
            %a{:href => "#"} 大型メルカリ便
          %li.description_list
            %a{:href => "#"} 車体取引ガイド
          %li.description_list
            %a{:href => "#"} メルカリあんしん・あんぜん宣言！
          %li.description_list
            %a{:href => "#"} 偽ブランド品撲滅への取り組み
          %li.description_list
            %a{:href => "#"} メルカリボックス
      .description
        %h2 プライバシーと利用規約
        %div
          %ul
            %li.description_list
              %a{:href => "#"} プライバシーポリシー
            %li.description_list
              %a{:href => "#"} メルカリ利用規約
            %li.description_list
              %a{:href => "#"} あんしんスマホサポート制度に関する
            %li.description_list
              %a{:href => "#"} コンプライアンスポリシー
        .description
          %ul
            %li.description_list
              %a{:href => "#"} 個人データの安全管理に係る基本方針
            %li.description_list
              %a{:href => "#"} 特定商取引に関する表記
            %li.description_list
              %a{:href => "#"} 資金決済法に基づく表示
            %li.description_list
              %a{:href => "#"} 法令遵守と犯罪抑制のために
      .description
        %h2 国
        %ul
          %li.description_list
            %a{:href => "#"} 日本
          %li.description_list
            %a{:href => "#"} United States
    .footer_bottom
      %a{:href => "#"}
        %img#footer_icon{:alt => "", :src => "SVG/fmarket_logo_red.svg"}/
      %span.copy_right © FreeMarket Int.

