<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= yield %>
    <header>
      <div id="headerbg">
        <div class="header-top">
          <a href="#">
            <img id="freemarket_string" src="SVG/fmarket_logo_red.svg" alt="freemarket">
          </a>
        <form action="#">
          <input  class="search_form" type="text", placeholder="何をお探しですか？">
          <button class="search_btn"><i class="fas fa-search"></i><a href="#"></a></button>
        </form>
        </div>
        <nav class="top_navi">
          <ul class="refarence">
            <li class="search_category"><i class="fas fa-list-ul"></i><a href="#">カテゴリーから探す</a></li>
            <li class="search_brand"><i class="fas fa-tags"></i><a href="#">ブランドから探す</a></li>
          </ul>
          <ul class="top_lists">
            <li class="top_list"><i class="far fa-heart"></i><a href="#">いいね！一覧</a></li>
            <li class="top_list"><i class="far fa-bell"></i><a href="#">お知らせ</a></li>
            <li class="top_list"><i class="fas fa-check"></i><a href="#">やることリスト</a></li>
            <li class="top_list"><i class="fas fa-user-circle"></i><a href="#">マイページ</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div id="Exhibit">
        <a href="#">
          <div class="red_circle">
            <div class="Exhibit">出品</div>
            <div><i class="fas fa-camera fa-4x"></i></div>
          </div>
        </a>
      </div>
      <div class="AD">
        <aside>
          <div>
            <div class="AD_message1">スマホでかんたんフリマアプリ</div>
            <div class="AD_message2">今すぐ無料ダウンロード！</div>
            <div>
              <img id="freemarket" src="SVG/logo_red.svg" alt="フリマアイコン">
              <a href="https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8">
                <img src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg" alt="">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja">
                <img src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" alt="">
              </a>
            </div>
          </div>
          <figure>
            <img id="smartphone" src="https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png" alt="">
          </figure>
        </aside>
      </div>
    </body>
    <footer class="footer">
      <nav class="footer_navi">
        <div class="description">
          <h2>メルカリについて</h2>
          <ul>
            <li class="description_list"><a href="#">会社概要(運営会社)</a></li>
            <li class="description_list"><a href="#">採用情報</a></li>
            <li class="description_list"><a href="#">プレスリリース</a></li>
            <li class="description_list"><a href="#">公式ブログ</a></li>
            <li class="description_list"><a href="#">メルカリロゴ利用ガイドライン</a></li>
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
            <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
          </ul>
        </div>
        <div class="description">
          <h2>ヘルプ＆ガイド</h2>
          <ul>
            <li class="description_list"><a href="#">メルカリガイド</a></li>
            <li class="description_list"><a href="#">らくらくメルカリ便</a></li>
            <li class="description_list"><a href="#">ゆうゆうメルカリ便</a></li>
            <li class="description_list"><a href="#">大型メルカリ便</a></li>
            <li class="description_list"><a href="#">車体取引ガイド</a></li>
            <li class="description_list"><a href="#">メルカリあんしん・あんぜん宣言！</a></li>
            <li class="description_list"><a href="#">偽ブランド品撲滅への取り組み</a></li>
            <li class="description_list"><a href="#">メルカリボックス</a></li>
          </ul>
        </div>
        <div class="description">
          <h2>プライバシーと利用規約</h2>
          <div>
            <ul>
              <li class="description_list"><a href="#">プライバシーポリシー</a></li>
              <li class="description_list"><a href="#">メルカリ利用規約</a></li>
              <li class="description_list"><a href="#">あんしんスマホサポート制度に関する</a></li>
              <li class="description_list"><a href="#">コンプライアンスポリシー</a></li>
            </ul>
          </div>
          <div class="description">
            <ul>
              <li class="description_list"><a href="#">個人データの安全管理に係る基本方針</a></li>
              <li class="description_list"><a href="#">特定商取引に関する表記</a></li>
              <li class="description_list"><a href="#">資金決済法に基づく表示</a></li>
              <li class="description_list"><a href="#">法令遵守と犯罪抑制のために</a></li>
            </ul>
          </div>
        </div>
        <div class="description">
          <h2>国</h2>
          <ul>
            <li class="description_list">
              <a href="#">日本</a>
            </li>
            <li class="description_list">
              <a href="#">United States</a>
          </ul>
        </div>
      </nav>
      <div class="footer_bottom">
        <a href="#"><img src="SVG/logo_white.svg" id="footer_icon" alt="">
        </a>
        <span class="copy_right">&copy;2019 Mercari</span>
      </div>
    </footer>
  </body>
</html>
