!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %title 出品ページ
    %link{href: "item-listing.css", rel: "stylesheet"}/
  %body
    .item
      .item-content
        .item-chapter-container
          商品の情報を入力
        %form
          .item-image
            .item-image-upload
              %h3.item-image-upload-character
                出品画像
                %span.item-image-upload-require
                  必須
              %p 最大10枚までアップロードできます
              %label
                .item-image-drop
                  %p
                    %br/
                    = succeed "\u30C9\u30E9\u30C3\u30AF\u30A2\u30F3\u30C9\u30C9\u30ED\u30C3\u30D7" do
                      %br/
                    = succeed "\u307E\u305F\u306F\u30AF\u30EA\u30C3\u30AF\u3057\u3066\u30D5\u30A1\u30A4\u30EB\u3092\u30A2\u30C3\u30D7\u30ED\u30FC\u30C9\u3002" do
                      %br/
                  %input.item-image-drop-default{type: "file"}/
          .item-sell
            .item-sell-name
              %label
                商品名
                %span.item-image-upload-require
                  必須
              %div
                %input.item-sell-name-default{placeholder "商品名(必須４０字まで)", value ""}/
            .item-sell-text
              %label
                商品の説明
                %span.item-image-upload-require
                  必須
              %div
                %textarea.item-sell-text-default{placeholder "商品名(必須４０字まで)", value ""}
                  preserve
                                              .item-sell.detail
            %h3.item-image-upload-character 商品の詳細
            .item-sell-clearfix-box
              .item-sell-clearfix-box-group
                %label
                  カテゴリー
                  %span.item-image-upload-require
                    必須
                %div
                  .item-sell-clearfix-box-wrap
                    %i.icon-bottom
                    %select.select-default
                      %option{value: ""} ---
                      %option{value: "1"} レディース
                      %option{value: "2"} メンズ
                      %option{value: "3"} ベビー•キッズ
                      %option{value: "4"} インテリア•住まい•小物
                      %option{value: "5"} 本•音楽•ゲーム
                      %option{value: "50"} おもちゃ•ホビー•グッズ
                      %option{value: "6"} コスメ•香水•美容
                      %option{value: "7"} 家電•スマホ•カメラ
                      %option{value: "8"} スポーツ•レジャー
                      %option{value: "9"} ハンドメイド
                      %option{value: "90"} チケット
                      %option{value: "91"} 自動車•オートバイ
                      %option{value: "10"} その他
                .item-sell-clearfix-box-type
                  %label
                    商品の状態
                    %span.item-image-upload-require
                      必須
                  %div
                    .item-sell-clearfix-box-wrap
                      %i.icon-bottom
                      %select.select-default
                        %option{value: ""} ---
                        %option{value: "1"} 新品、未使用
                        %option{value: "2"} 未使用に近い
                        %option{value: "3"} 目立った傷や汚れなし
                        %option{value: "4"} やや傷や汚れあり
                        %option{value: "5"} 傷や汚れあり
                        %option{value: "6"} 全体的に状態が悪い
          .item-sell.detail
            %h3.item-image-upload-character 配送について
            %a.form-question{href: "", target: "_blank"} ?
            .item-sell-clearfix-box
              .item-sell-clearfix-box-money
                %label
                  配送料の負担
                  %span.item-image-upload-require
                    必須
                %div
                  .item-sell-clearfix-box-wrap
                    %i.icon-bottom
                    %select.select-default
                      %option{value: ""} ---
                      %option{value: "1"} 送料込み(出品者負担)
                      %option{value: "2"} 着払い(購入者負担)
              .item-sell-clearfix-box
                .item-sell-clearfix-box-street
                  %label
                    発送元の地域
                    %span.item-image-upload-require
                      必須
                  .item-sell-clearfix-box-wrap
                    %i.icon-bottom
                    = form_for “” do |f|
                      = f.collection_select :prefecture_id, Prefecture.all, :id, :name
              .item-sell-clearfix-box
                .item-sell-clearfix-box-street
                  %label
                    発送までの日数
                    %span.item-image-upload-require
                      必須
                  %div
                    .item-sell-clearfix-box-wrap
                      %i.icon-bottom
                      %select.select-default
                        %option{value: ""} ---
                        %option{value: "1"} １〜２日で発送
                        %option{value: "2"} ２〜３日で発送
                        %option{value: "3"} ４〜７日で発送
          .item-sell.money
            %h3.item-image-upload-character 販売価格(300~9,999,999)
            %a.form-question{href: "", target: "_blank"} ?
            .item-sell-form-box
              %ul.item-sell-price
                .item-sell-form-group
                  .item-sell-form-clearfix
                    %label.l-money
                      価格
                      %span.item-image-upload-require
                        必須
                    %label.l-right-sell-price-input
                      .yen ¥
                      %input.input-default{placeholder: "例)300", value: ""}/
                .clearfix
                  .l-left
                    販売手数料（10%）
                    %span.haifun -
                .clearfix.bold
                  .l-right
                    販売利益
                    %span.underber _
            .modal{role: "dialog", tabindex: "-1"}
              .modem-inner
            .sell-content.sell-btn-box
              %a{href: "#"}> 禁止されている出品
              、
              = succeed "\u3092\u5FC5\u305A\u3054\u78BA\u8A8D\u304F\u3060\u3055\u3044\u3002" do
                %a{href: "#"} 行為
              = succeed "\u306F\u72AF\u7F6A\u3067\u3042\u308A\u51E6\u7F70\u3055\u308C\u308B\u53EF\u80FD\u6027\u304C\u3042\u308A\u307E\u3059\u3002" do
                %a{href: "#"} 偽ブランドの販売
              = succeed "\u306B\u540C\u610F\u3057\u305F\u3053\u3068\u306B\u306A\u308A\u307E\u3059\u3002" do
                %a{href: "#"} 加盟店規約
            .botton
              %a{href: "#"}
                .syuppin-botton 出品する
              %a{href: "#"}
                .back-botton もどる
